{% extends 'CursoXaviBundle:Task:layout.html.twig' %}

{% block header %}

{%  endblock %}

{% block body %}
    {{ form(form) }}
    <p><a href="{{ path('curso_xavi_task') }}">Back</a></p>
{% endblock %}


