<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Task task Task</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/dist/css/carousel.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Custom CSS -->
    {% stylesheets "@CursoXaviBundle/Resources/public/css/XaviBundle.css" %}
    <link type="text/css" rel="stylesheet" media="all" href="{{ asset_url }}" />
    {% endstylesheets %}
    <!-- End CUSTOM -->

    <script type="application/javascript">
        $(document).ready(function(){
            $("#actualitzar").click( function(event){
                event.preventDefault();

                var js = $.get("{{ url('curso_xavi_task_refresh') }}");

                js.error(function(){
                    $("#message div").html('<p class="bg-info">error</p>');
                });

                js.success(function(response, status){
                    $("#message div").html('<p class="bg-success">'+response+'</p>');

                });
                /*aj.complete(function(oa, status){
                    if(status == 'error') {
                        $("#container").html('--:--:--');
                    }
                    $('#loader').hide();

                });*/
            })
        });
    </script>
</head>
<!-- NAVBAR
================================================== -->
<body>

<div class="container">
    <div class="row" id="menu">
        <header>
            <div class="navbar-collapse collapse col-md-push-2 col-md-8 col-md-pull-2">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuaris <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Llistar</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Crear</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasques <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('curso_xavi_task') }}">Llistar</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('curso_xavi_task_edit') }}">Crear</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
    </div>
    <div class="row" id="breadcrumb">
        <div class="col-md-push-2 col-md-8 col-md-pull-2 breadcrumb">A > B > C</div>
    </div>
    <div class="row" id="message">
        <div class="col-md-push-2 col-md-8 col-md-pull-2">
            {% for tipo, mensajes in app.session.flashbag.all() %}
                {%  for mensaje in mensajes %}
                    <p class="bg-{{ tipo }}">{{ mensaje }}</p>
                {%  endfor %}
            {% endfor %}
        </div>
    </div>
    <div class="row" id="body">
        <div class="col-md-push-2 col-md-6 col-md-pull-4">
            {% block body %}
            {% endblock %}
        </div>
        <div class="">
        </div>
    </div>
    <div class="row" id="footer">
        <div class="col-md-push-2 col-md-6 col-md-pull-4">
            <footer>
                <p><a href="#" data-toggle="modal" data-target="#myModal">Nota</a></p>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title" id="myModalLabel">Nota </h4>
                            </div>
                            <div class="modal-body">
                                Nota.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Tanca</button>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
</body>
</html>

