{% extends 'CursoXaviBundle:Task:layout.html.twig' %}

{% block body %}
    <h1>Llista de tasques:</h1>
    <table class="table">
        <tr>
            <th>{% trans %}taula_tasques.id{%  endtrans %}</th>
            <th>{% trans %}taula_tasques.nom{% endtrans %}</th>
        </tr>
        {% for element in llista %}
        <tr>
            <td><a href="{{  path('curso_xavi_task_view', { 'id' : element.id }) }}">{{ element.id }}</a></td>
            <td>{{ element.name }}</td>
        </tr>
        {% endfor %}
    </table>

    <p><a href="#" id="actualitzar">Actualitzar</a></p>
{% endblock %}
