{% extends 'CursoXaviBundle:Task:layout.html.twig' %}

{% block body %}
    <h1>Llista d'usuaris:</h1>
    <table class="table">
        <tr>
            <th>Name<br>(Job title)</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for element in llista %}
            <tr>
                <td><a href="{{  path('curso_xavi_task_view', { 'id' : element.id }) }}">{{ element.id }}</a></td>
                <td>{{ element.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
