{% extends 'CursoXaviBundle:Task:layout.html.twig' %}


{% block body %}
    <p>Tasca {{ task.name }}: </p>
    <ul>
        <li>Id: {{ task.id }}</li>
        <li>Nom: {{ task.name }}</li>
        <li>Data d'inici: {{ task.initDate != null ? task.initDate : "-" }}</li>
        <li>Data de fi: {{ task.endDate != null ? task.endDate : "-" }}</li>
        <li>Completat: {{ task.completion }}%</li>
        <li>Usuari: TODO</li>
    </ul>

    <p><a href="{{ path('curso_xavi_task') }}">Back</a></p>
{% endblock %}
