/* Arreglando la redimensión de imágenes 'Usando Cover' */
.carousel-inner .item {
    background-repeat:no-repeat;
    background-size: cover;
    -moz-background-size: cover;  /* Firefox 3.6 */
}
.carousel-inner #slide-1 {
    background-image:url('/bundles/cursotodo/images/carousel/carousel-1.jpg');
}
.carousel-inner #slide-2 {
    background-image:url('/bundles/cursotodo/images/carousel/carousel-2.jpg');
}
.carousel-inner #slide-3 {
    background-image:url('/bundles/cursotodo/images/carousel/carousel-3.jpg');
}
/* Containers, rows y cols... */

.basic {
    padding-top: 100px;
}
.menu-app {
    background: #0088cc;
}

.container-app {
    background: #cbcc2a;
}
.menu-app,
.container-app {
    height: 500px;
}

.alerts-app {
  height: 120px;
  background: #d5d5d5;
}

/* Containers, rows y cols... */

/* Completed */

@media (min-width: 768px) {
  .navbar-wrapper .container {
     padding-right: 0;
     padding-left: 0;
  }
}

.list-group-item{cursor:pointer}span.indent{margin-left:10px;margin-right:10px}span.icon{margin-right:5px}