<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    {#{%  block stylesheets %}
          <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,800">
          {%  stylesheets   '@AppBackendBundle/Resources/public/css/bootstrap.css'
                            '@AppBackendBundle/Resources/public/css/bootstrap-responsive.css'
                            '@AppBackendBundle/Resources/public/css/font-awesome.css'
                            '@AppBackendBundle/Resources/public/css/ui-lightness/jquery-ui-1.8.21.custom.css'
                            '@AppBackendBundle/Resources/public/css/application-mean-green.css'
          output='css/backend.css'
          filter='yui_css'%}
          <link href="{{ asset_url }}" rel="stylesheet" type="text/css"/>
        {%  endstylesheets %}
    {% endblock %}#}



    <title>Carousel Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/dist/css/carousel.css" rel="stylesheet">
    {% block custom_css %}
    {% endblock %}
</head>
<!-- NAVBAR
================================================== -->
<body>

{#<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="{{ asset('bundles/cursotodo/images/carousel/carousel-1.jpg') }}" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Example headline.</h1>
                    <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('bundles/cursotodo/images/carousel/carousel-2.jpg') }}" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('bundles/cursotodo/images/carousel/carousel-3.jpg') }}" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>One more for good measure.</h1>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div>
<!-- /.carousel -->#}


<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
         {# <a class="navbar-brand" href="#">Usuarios</a>#}
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Usuarios</a></li>
           {# <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>#}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tareas <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="./">Lista de Tareas</a></li>
                <li><a href="newtask">Crear Tarea</a></li>
                {#<li><a data-target="#myModal">Crear Tareas</a></li>#}
                <li><a href="#" data-toggle="modal" data-target="#myModal">Crear Tarea</a></li>
               {# <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>#}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% block contenido %}
{% endblock %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
{% block init_js %}
{% endblock %}
</body>
</html>
