{##Herencia de plantillas#}
{% extends 'CursoahurtadoBundle:Tasks:layout.html.twig' %}
{% block custom_css %}
  <!-- Custom styles for this template -->
  <link type="text/css" rel="stylesheet" media="all" href="{{ asset('bundles/cursotodo/css/app.css') }}" />
{% endblock %}
{% block contenido %}

    <div class="container basic">

      <!-- 2 columnas of text below the carousel -->
      <div class="row">
        <div class="col-sm-4 col-sm-push-8">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="glyphicon glyphicon-phone-alt"></i>&nbsp;Atención al usuario</h3>
            </div>
            <div class="panel-body">
              <address>
                <strong>Twitter, Inc.</strong><br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
              </address>
            </div>
          </div>
          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title"><i class="glyphicon glyphicon-pushpin"></i>&nbsp;Manuales</h3>
            </div>
            <div class="panel-body">
              <ul class="list-unstyled">
                <li><a href=""><i class="glyphicon glyphicon-floppy-open"></i>&nbsp;Manual 1</a></li>
                <li><a href=""><i class="glyphicon glyphicon-floppy-open"></i>&nbsp;Manual 2</a></li>
                <li><a href=""><i class="glyphicon glyphicon-floppy-open"></i>&nbsp;Manual 3</a></li>
                <li><a href=""><i class="glyphicon glyphicon-floppy-open"></i>&nbsp;Manual 1</a></li>
                <li><a href=""><i class="glyphicon glyphicon-floppy-open"></i>&nbsp;Manual 2</a></li>
                <li><a href=""><i class="glyphicon glyphicon-floppy-open"></i>&nbsp;Manual 3</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-8 col-sm-pull-4 panel">
          <div class="row">
            <div class="col-md-12">
              <ol class="breadcrumb">
                <li><a href="#">ahurtado</a></li>
                <li><a href="#">curs</a></li>
                <li class="active">tasks</li>
              </ol>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-1 col-md-10 alert alert-warning alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <strong>Warning!</strong> Esto es un mensaje de aviso
             </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <table class="table table-hover" border="2px">
                    <tr><td bgcolor= "#D3D3D3" align="center">Id</td><td bgcolor= "#D3D3D3">Nombre </td><td bgcolor= "#D3D3D3">Descripcio</td><td bgcolor= "#D3D3D3" align="center">Id User</td><td bgcolor= "#D3D3D3" align="center">Enllaç</td></tr>
                    {% for task in tasks %}
                        <tr><td align="center">{{task.id}}</td><td>{{ task.getNombre()}} </td><td>{{ task.getDescripcio()}}</td><td align="center">{{ task.getUser().getId()}}</td><td><a href="{{ path('cursoahurtado_taskview', {'id': task.id}) }}"> view</a></td></tr>
                    {% endfor %}
                </table>
              <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>
            <p>&copy; 2014 Company, Inc. &middot; <a href="#" data-toggle="modal" data-target="#myModal_2">Privacy &middot; Terms</a></p>
          </footer>
        </div>
      </div>
    </div>
    <!-- Modal_1 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Creacion Nueva Tarea</h4>
          </div>
          <div class="modal-body">
              <form role="form">
                  <div class="form-group">
                      <label for="exampleInputEmail1">Nombre</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Introduce el nombre">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Descripcion</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Introduce la descripcion">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputPassword1">Usuario</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Introduce el usuario">
                  </div>
              </form>
          </div>
          <div class="modal-footer">
                <button type="submit" class="btn btn-default">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal_2 -->
    <div class="modal fade" id="myModal_2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->






{% endblock %}