{##Herencia de layout#}
{% extends 'CursoahurtadoBundle:Tasks:layout.html.twig' %}

{% block contenido %}
    <br>
    <table border="2px">
        <tr><td bgcolor= "#D3D3D3">Id</td><td bgcolor= "#D3D3D3">Nombre</td><td bgcolor= "#D3D3D3">Id User</td></tr>
        <tr><td bgcolor= "#D3D3D3" colspan="3">Decripcio</td></tr>
        <tr><td>{{ task.id }}</td><td>{{ task.getNombre()}}</td><td>{{ task.getUser().getId()}}</td></tr>
        <tr><td colspan="3">{{ task.getDescripcio() }}</td></tr>
    </table>
    <br><br>
    <a href="{{ path('cursoahurtado_tasks') }}">Tornar a Llista Tasks...</a>
{% endblock %}