<table class="table table-striped" >
   <thead>
        <tr>
            <th width="10">#</th>
            <th>{{ 'tasks.name' | trans }}</th>
            <th>{{ 'tasks.date' | trans }}</th>
            <th width="120">&nbsp;</th>
        </tr>
   </thead>
    <tbody>
       {% for task in tasks%}
            <tr>
                <td><a class="btn btn-link btn-sm" href="{{ url('curso_txomin_task', {'id': task.id })}}">{{ task.id}}</a></td>
                <td>{{ task.nombre }} </td>
                <td>{{ task.data | date('d/m/Y') }} </td>
                <td>
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default btn-sm" href="{{ url('curso_txomin_task', {'id': task.id })}}" title="Veure"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="btn btn-default btn-sm" href="{{ url('curso_txomin_edittask', {'id': task.id })}}" title="Editar"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-danger btn-sm" data-message="{{ 'tasks.delete_confirm %taskid%' | trans({'%taskid%':task.id}) }}" data-ok="{{ 'forms.confirm' | trans }}" data-cancel="{{ 'forms.cancel' | trans }}" data-title="{{ 'forms.delete_confirm_title' | trans }}" href="{{ url('curso_txomin_removetask', {'id': task.id })}}" title="Borrar"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </td>
            </tr>




       {% endfor %}
    </tbody>
</table>
