{##Herencia de layout#}
{% extends 'CursoTxominBundle:Default:layout.html.twig' %}
{% form_theme form 'CursoTxominBundle:Form:fields.html.twig' %}

{%  block myjs %}
    <script src="{{ asset('bundles/cursotxomin/js/formajax.js') }}"></script>
{% endblock %}

{% block titulo %}{{ titol }}{% endblock %}

{% if id is defined %}
    {% set titol = 'tasks.task' | trans ~ ' ' ~ id  %}
{% else %}
    {% set titol = 'tasks.newtask' | trans   %}
{% endif %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li ><a href="{{ url('curso_txomin_tasks')}}">{{ 'tasks.tasks' | trans }}</a></li>
        <li class="active">{{ titol }}</li>
    </ol>

{% endblock %}


{% block actions %}

    <div class="btn-group">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        {% if id is defined %}
            <a class="btn btn-default" href="{{ url('curso_txomin_task', {'id': id })}}"><span class="glyphicon glyphicon-remove"></span> {{ 'forms.cancel' | trans }}</a>
            <a class="btn btn-danger" data-message="{{ 'tasks.delete_confirm %taskid%' | trans({'%taskid%':id}) }}" data-ok="{{ 'forms.confirm' | trans }}" data-cancel="{{ 'forms.cancel' | trans }}" data-title="{{ 'forms.delete_confirm_title' | trans }}"  href="{{ url('curso_txomin_removetask', {'id': id })}}"><span class="glyphicon glyphicon-trash"></span>  {{ 'forms.delete' | trans }}</a>
        {% endif %}

    </div>
    {{ form_end(form) }}
{% endblock %}


{% block contenido %}

{{ form_start(form) }}
    {% if id is defined %}
        <input type="hidden" name="ajaxurl" id="ajaxurl" value="{{ url('curso_txomin_ajax_edittask')  }}"/>
    {% else %}
        <input type="hidden" name="ajaxurl" id="ajaxurl" value="{{ url('curso_txomin_ajax_newtask')  }}"/>
    {% endif %}


    <div class="panel-body">
        {{ form_errors(form) }}

        {{ form_row (form.id)}}

        <div class="form-group">
            {{ form_label(form.nombre) }}
            <div>
                {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
         <div class="form-group">
            {{ form_label(form.data) }}
            <div>
                {{ form_widget(form.data, {'attr': {'class': ''}}) }}
            </div>
        </div>
         <div class="form-group">
            {{ form_label(form.tags) }}
            <div>
                {{ form_widget(form.tags, {'attr': {'class': ''}}) }}
            </div>
        </div>
         <div class="form-group">
            {{ form_label(form.user) }}
            <div>
                <div class="form-inline">
                    <div class="form-group">{{ form_widget(form.user, {'attr': {'class': 'form-control'}}) }}</div>
                    <a class="btn btn-primary" href="{{ url('curso_txomin_newuser')}}"><span class="glyphicon glyphicon-plus"></span></a>
                </div>

            </div>
        </div>



    </div>
{% endblock %}
