{##Herencia de layout#}
{% extends 'CursoTxominBundle:Default:layout.html.twig' %}

{% set titol =  'tasks.tasks' | trans  %}


{% block titulo %}{{ titol }}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">{{ titol }}</li>
    </ol>
{% endblock %}

{% block actions %}
    <a class="btn btn-default" href="{{ url('curso_txomin_newtask')}}"><span class="glyphicon glyphicon-plus"></span> {{ 'tasks.newtask' | trans }}</a>
{% endblock %}


{% block contenido %}
    {% include 'CursoTxominBundle:Task:_listado.html.twig' %}
{% endblock %}