{##Herencia de layout#}
{% extends 'CursoTxominBundle:Default:layout.html.twig' %}

{% set titol =  'tasks.task' | trans  ~ ' ' ~ task.id  %}


{% block titulo %}{{ titol }}{% endblock %}
{% block titulointerior %}
    {{ titol }}

{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li ><a href="{{ url('curso_txomin_tasks')}}">{{ 'tasks.task' | trans }}</a></li>
        <li class="active">{{ titol }}</li>
    </ol>

{% endblock %}

{% block actions %}
    <div class="btn-group">
        <a class="btn btn-default" href="{{ url('curso_txomin_edittask', {'id': task.id })}}"><span class="glyphicon glyphicon-pencil"></span> {{ 'forms.edit' | trans }}</a>
        <a class="btn btn-danger" data-message="{{ 'tasks.delete_confirm %taskid%' | trans({'%taskid%':task.id}) }}" data-ok="{{ 'forms.confirm' | trans }}" data-cancel="{{ 'forms.cancel' | trans }}" data-title="{{ 'forms.delete_confirm_title' | trans }}"  href="{{ url('curso_txomin_removetask', {'id': task.id })}}"><span class="glyphicon glyphicon-trash"></span>  {{ 'forms.delete' | trans }}</a>
    </div>
{% endblock %}


{% block contenido %}
    <div class="panel-body">
        {{ task | ladybug_dump }}
        <ul>
            <li>{{ 'tasks.id' | trans }}: {{ task.id }}</li>
            <li>{{ 'tasks.name' | trans }}: {{ task.nombre}}</li>
            <li>{{ 'tasks.date' | trans }}: {{ task.data  | date('d/m/Y') }}</li>
            <li>

                {{ 'tasks.tags' | trans }}:

                        {% for tag in task.tags%}
                        <span class="badge">{{ tag.nombre }}</span>
                        {% endfor %}



            </li>
            <li>
                {{ 'users.user' | trans }}: <a href="{{ url('curso_txomin_user', {'id': task.user.id })}}">{{ task.user.nombre }}</a>
            </li>

        </ul>

</div>






{% endblock %}