<table class="table table-striped " >
   <thead>
        <tr>
            <th width="10">#</th>
            <th>{{ 'users.name' | trans }}</th>
            <th>{{ 'users.email' | trans }}</th>
            <th width="120">&nbsp;</th>
        </tr>
   </thead>
    <tbody>
       {% for user in users %}
            <tr>
                <td><a class="btn btn-link btn-sm" href="{{ url('curso_txomin_user', {'id': user.id })}}">{{ user.id}}</a></td>
                <td>{{ user.nombre }} </td>
                <td>{{ user.email }} </td>
                <td>
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-default btn-sm" href="{{ url('curso_txomin_user', {'id': user.id })}}"  title="Veure"><span class="glyphicon glyphicon-eye-open"></span></a>
                        <a class="btn btn-default btn-sm" href="{{ url('curso_txomin_edituser', {'id': user.id })}}"  title="Editar"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a class="btn btn-danger btn-sm" data-message="{{ 'users.delete_confirm %userid%' | trans({'%userid%':user.id}) }}" data-ok="{{ 'forms.confirm' | trans }}" data-cancel="{{ 'forms.cancel' | trans }}" data-title="{{ 'forms.delete_confirm_title' | trans }}" href="{{ url('curso_txomin_removeuser', {'id': user.id })}}"  title="Borrar"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>
                </td>
            </tr>
       {% endfor %}
    </tbody>
</table>
