{##Herencia de layout#}
{% extends 'CursoTxominBundle:Default:layout.html.twig' %}

{%  block myjs %}
<script src="{{ asset('bundles/cursotxomin/js/formajax.js') }}"></script>
{% endblock %}


{% if id is defined %}
    {% set titol = 'users.user' | trans ~ ' ' ~ id  %}
{% else %}
    {% set titol = 'users.newuser' | trans   %}
{% endif %}

{% block titulo %}{{ titol }}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li ><a href="{{ url('curso_txomin_users')}}"> {{ 'users.users' | trans }}</a></li>
        <li class="active">{{ titol }}</li>
    </ol>

{% endblock %}


{% block actions %}
    <div class="btn-group">
        {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
        {% if id is defined %}
                <a class="btn btn-default" href="{{ url('curso_txomin_user', {'id': id })}}"><span class="glyphicon glyphicon-remove"></span>  {{ 'forms.cancel' | trans }}</a>
                <a class="btn btn-danger" data-message="{{ 'users.delete_confirm %userid%' | trans({'%userid%':id}) }}" data-ok="{{ 'forms.confirm' | trans }}" data-cancel="{{ 'forms.cancel' | trans }}" data-title="{{ 'forms.delete_confirm_title' | trans }}" href="{{ url('curso_txomin_removeuser', {'id': id })}}"><span class="glyphicon glyphicon-trash"></span> {{ 'forms.delete' | trans }}</a>
        {% endif %}
    </div>
    {{ form_end(form) }}

{% endblock %}


{% block contenido %}
    {{ form_start(form) }}

    {% if id is defined %}
        <input type="hidden" name="ajaxurl" id="ajaxurl" value="{{ url('curso_txomin_ajax_edituser')  }}"/>
    {% else %}
        <input type="hidden" name="ajaxurl" id="ajaxurl" value="{{ url('curso_txomin_ajax_newuser')  }}"/>
    {% endif %}

    <div class="panel-body">


        {{ form_errors(form) }}

        {{ form_widget(form.id, {'attr': {'class': 'form-control'}}) }}


        <div class="form-group">
            {{ form_label(form.nombre) }}
            <div>
                {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.email) }}
            <div>
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

    </div>

{% endblock %}
