{##Herencia de layout#}
{% extends 'CursoTxominBundle:Default:layout.html.twig' %}

{% set titol = 'users.users' | trans %}


{% block titulo %}{{ titol }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="active">{{ titol }}</li>
    </ol>
{% endblock %}

{% block actions %}
    <a class="btn btn-default" href="{{ url('curso_txomin_newuser')}}"><span class="glyphicon glyphicon-plus"></span> {{ 'users.newuser' | trans }}</a>
{% endblock %}


{% block contenido %}
    {% include 'CursoTxominBundle:User:_listado.html.twig' %}
{% endblock %}