{##Herencia de layout#}
{% extends 'CursoTxominBundle:Default:layout.html.twig' %}

{% set titol =  'users.user' | trans  ~ ' ' ~ user.id  %}


{% block titulo %}{{ titol }}{% endblock %}
{% block breadcrumb %}
    <ol class="breadcrumb">
        <li ><a href="{{ url('curso_txomin_users')}}">{{ 'users.users' | trans }}</a></li>
        <li class="active">{{ titol }}</li>
    </ol>

{% endblock %}



{% block actions %}
    <div class="btn-group">
        <a class="btn btn-default" href="{{ url('curso_txomin_edituser', {'id': user.id })}}"><span class="glyphicon glyphicon-pencil"></span> {{ 'forms.edit' | trans }}</a>
        <a class="btn btn-danger" data-message="{{ 'users.delete_confirm %userid%' | trans({'%userid%':user.id}) }}" data-ok="{{ 'forms.confirm' | trans }}" data-cancel="{{ 'forms.cancel' | trans }}" data-title="{{ 'forms.delete_confirm_title' | trans }}" href="{{ url('curso_txomin_removeuser', {'id': user.id })}}"><span class="glyphicon glyphicon-trash"></span>  {{ 'forms.delete' | trans }}</a>
    </div>
{% endblock %}


{% block contenido %}
    <div class="panel-body">
        <ul>
            <li>{{ 'users.id' | trans }}: {{ user.id }}</li>
            <li>{{ 'users.name' | trans }}: {{ user.nombre}}</li>
            <li>{{ 'users.email' | trans }}: {{ user.email }}</li>
        </ul>
    </div>
{% endblock %}