{##Herencia de plantillas#}
{% extends 'CursoSoriBundle:Default:index.layout.html.twig' %}


{% set titol = 'Tasca ' ~ task.id  %}


{% block titulo %}{{ titol }}{% endblock %}



{% block contenido %}
    <h1>{{ block('titulo') }}</h1>
    <ul>
        <li>ID: {{ task.id }}</li>
        <li>Nom: {{ task.nombre}}</li>
        <li>Data: {{ task.data  | date('d/m/Y') }}</li>
        <li>

            Tags:
                <ul>
                    {% for tag in task.tags %}
                        <li><a href="#">{{ tag.nombre }}</a></li>
                    {% endfor %}
                </ul>


        </li>

    </ul>

    <a href="{{ url('curso_sori_tasks')}}">Tornar</a>





{% endblock %}













