<table class="table table-striped">
   <thead>
        <tr>
            <th>&nbsp;</th>
            <th>ID</th>
            <th>Nom</th>
            <th>Data</th>
            <th>&nbsp;</th>
        </tr>
   </thead>
    <tbody>
  
       {% for key, task in tasks%}
       
    
            <tr>
            <th><input type="checkbox" id="check_{{ key }}" name="taskdone"/></th>
                <td>{{ task.id}}</td>
                <td>{{ task.nombre }} </td>
                <td>{{ task.data | date('d/m/Y') }} </td>
                <td><a href="{{ url('curso_sori_tasks_view', {'id': task.id })}}">Veure</a></td>
                <td><a href="{{ url('curso_sori_tasks_edit', {'id': task.id })}}">Edita</a></td>
            </tr>
          
       {% endfor %}
    </tbody>
</table>