{##Herencia de plantillas#}
{% extends 'CursoSoriBundle:Default:index.layout.html.twig' %}

{% set nombre = 'Llista de tasques' %}

{% block titulo %}{% endblock %}

{% block contenido %}
   
   <!-- <h1>{{ block('titulo') }}</h1>-->
   <!-- <a href="{{ url('curso_sori_new_view')}}">+ Nueva tarea</a>-->
<br><a href="{{ url('curso_sori_tasks')}}">{{ bastardo | trans }}</a>
<br><a href="{{ url('curso_sori_tasks')}}">{% trans %}bastardo{% endtrans %}</a>
<br><a href="{{ url('curso_sori_tasks')}}">{{ bastardo }}</a>

{#{{ bastardo | ladybug_dump }}#}
    {% include 'CursoSoriBundle:Default:index.listado.html.twig' %}

{% endblock %}


