<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Sori Template for Bootstrap</title>


    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">
 <script src="http://code.jquery.com/jquery.js"></script>
     <script src="/dist/js/bootstrap.min.js"></script>

      <!-- Custom styles for this template -->
  <link type="text/css" rel="stylesheet" media="all" href="{{ asset('bundles/cursosori/css/app.css') }}" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="/dist/css/carousel.css" rel="stylesheet">
    {% block custom_css %}
<!-- Carousel
================================================== -->
<!--
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
 <!-- <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="{{ asset('bundles/cursotodo/images/carousel/carousel-1.jpg') }}" />
      <div class="container">
        <div class="carousel-caption">
          <h1>Example headline.</h1>
          <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="{{ asset('bundles/cursotodo/images/carousel/carousel-2.jpg') }}" />
      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="{{ asset('bundles/cursotodo/images/carousel/carousel-3.jpg') }}" />
      <div class="container">
        <div class="carousel-caption">
          <h1>One more for good measure.</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->

    {% endblock %}


    <style type="text/css">
        .disabled {
          background-color: #f7f7f7;
        }
        
    </style>
    <script>
        $(document).ready(function(){
          $('#loader').hide();
            $("form").submit(function(event){

               setTimeout(function(){
                    /*/do what you need here
                    $('form').removeClass('disabled');
                    $("form button").html('La solicitidud de ha enviado');
                    $('form input').removeAttr('disabled');
                    $('#loader').hide();
                   
                    //$("#loader").css("display", "none");


                }, 5000);*/

                $('form').addClass('disabled');
                $("form button").html('Enviando...');
                $('form input').attr('disabled', '');
               
                $('#loader').show();
               // $("#loader").css("display", "inline");
                //event.preventDefault();
            });
               $('#loader').hide();
           // $('form').addClass('disabled');
               // $("form button").html('Enviando...');
              //  $('form input').attr('disabled', '');
               
               // $('#loader').show();
                $('form').removeClass('disabled');
                   // $("form button").html('La solicitidud de ha enviado');
                    $('form input').removeAttr('disabled');
            $('#loader').hide();
           // $("#loader").css("display", "none");
        });
    </script>
</head>
<body>
<!-- NAVBAR
================================================== -->
<body>
<div class="navbar-wrapper">
  <div class="container">
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sori Bootstrap</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url('curso_sori_tasks')}}">User</a></li>
            <!--<li><a href="#about">Task</a></li>-->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tasks <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{{ url('curso_sori_new_view')}}">New</a></li>
                <li><a href="{{ url('curso_sori_tasks')}}">List</a></li>
                <!--

 <a href="{{ url('curso_sori_new_view')}}">+ Nueva tarea</a>

    
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>-->
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container basic">

  <!-- 2 columnas of text below the carousel -->
  <div class="row">

    <div class="col-sm-4  col-sm-push-8 menu-app">
      <h6>Menú</h6>
    </div>
    <div class="col-sm-8 col-sm-pull-4 container-app">

    <div class="row">
        <div id="breadcrumbid" class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Library</a></li>
            <li class="active">Data</li>
          </ol>
        </div>
      </div>

      <h6>Content</h6>

      <div class="row">
         <div class="col-md-12">

        {% for tipo, mensajes in app.session.flashbag.all() %}
            {% for mensaje in mensajes %}
                <div class="alert alert-{{ tipo }}">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ mensaje }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          Para mostrar listados formularios,...
          {% block contenido %}

{% endblock %}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#" data-toggle="modal" data-target="#myModal">Privacy &middot; Terms</a></p>
      </footer>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
</div>
</div>
</body>
</html>

