{##Herencia de plantillas#}
{% extends 'CursoSoriBundle:Default:index.layout.html.twig' %}



{% block titulo %}{% endblock %}

{% block contenido %}
   
  

  
   

   {{ form_start(form) }}
    <div class="panel-body">
        {{ form_errors(form) }}

       
        <div class="form-group">
            {{ form_label(form.nombre) }}
            <div>
                {{ form_widget(form.nombre, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
         <div class="form-group">
            {{ form_label(form.data) }}
            <div>
                {{ form_widget(form.data, {'attr': {'class': ''}}) }}
            </div>
        </div>
          {{ form_widget(form.save, {'label': 'Afegir','attr': {'class': 'btn btn-primary'}}) }}
          <img id="loader" src="http://cdn.sanwebe.com/wp-content/themes/sanwebe/img/social-load.gif" />
         




    </div>


{{ form_end(form) }}



{% endblock %}

