{##Herencia de layout#}
{% extends 'CursoSoriBundle:Default:index.layout.html.twig' %}

{% set titol = 'Nova Tasca '  %}


{% block titulo %}{{ titol }}{% endblock %}


{% block contenido %}
    <h1>{{ block('titulo') }}</h1>

   Tasca creada correctament!

    <a href="{{ url('curso_sori_tasks')}}">Tornar</a>

 



{% endblock %}
