{##Herencia de plantillas#}
{% extends 'CursoToDoBundle:ExampleTemplate:layout.html.twig' %}

{% set nombre = 'Titulo herencia' %}


{% set nombre = 'Título HErencia' %}

{#{% block titulo %}Titulo Herencia{% endblock %}#}

{#{% block titulo %}{{ nombre }}{% endblock %}#}

{% block contenido %}
   hola
    {#<h1>{{ block('titulo') }}</h1>#}

    <h2> {{ nombre }} </h2>


    <h2>{{ nombre }}</h2>
    {#Reutilización horizontal#}
    {% include 'CursoToDoBundle:ExampleTemplate:_listado.html.twig' %}

    <a href="{{ url('example_template')}}">template</a>

    <br>

    <a href="{{ url('example_routing_variable', {'slug': 1} )}}">Url Params</a>

{% endblock %}

