{# Variables #}

{# Cadena de texto #}
{% set nombre = 'José García' %}

{# Valores numéricos #}
{% set edad = 27 %}
{% set precio = 104.83 %}

{# Valores booleanos #}
{% set conectado = false %}

{# Arrays normales #}
{% set tasaImpuestos = [4, 8, 18] %}

{# Arrays asociativos #}
{% set direcciones = { 'publica': 'http://...', 'privada': 'http://...' } %}
{% set clasificacion = { 'Equipo2': 35, 'Equipo4': 32, 'Equipo1': 28 } %}

{# Array asociativo que combina todos los valores anteriores #}
{% set perfil1 = {
'nombre':   'José García',
'perfiles': ['usuario', 'administrador'],
'edad':     27,
'validado': true
} %}
{% set perfil2 = {
'nombre':   'Pepe García',
'perfiles': ['usuario', 'administrador'],
'edad':     21,
'validado': false
} %}
{% set users = [perfil1, perfil2] %}



{# filtros #}
Hello {{ name | upper  }}!
<br>
{{ tasaImpuestos | join(' ') }}
<br>
{% set losPeores = clasificacion | reverse %}
{{ losPeores | join(' ') }}
<br>
{{ 'Symfony2' | reverse }}
<br>
Length Symfony2 {{'Symfony2'|length }}
<br>
{{ 'Symfony2' | slice(1, 1) }}


{##Estructura de control for#}
<ul>
    {% for user in users %}
        <li>{{ user.nombre }} loop: {{ loop.index }}</li>
    {% endfor %}
    <li>----------</li>
    {% for user in users if user.validado %}
        <li>{{ user.nombre }}, hoy es {{ 'now' | date('d/m/Y') }}</li>
    {% else %}
        <li>No existe ningún usuario.</li>
    {% endfor %}
</ul>
<br>


{##Estructura de control if#}
{% if perfil1.validado %}
    Valido {{ perfil1.nombre }}
{% elseif perfil1.edad < '27' %}
    Edad < 27
{% else %}
    Else
{% endif %}
<br>
{% if descripcion is defined and descripcion is not empty %}
    {{ descripcion }}
{% endif %}
<br>
{% if 16 not in tasaImpuestos %}
    {{ tasaImpuestos | join(' ') }}
{% endif %}

{#Funciones#}
<a href="{{ url('example_template_herencia')}}">Herencia</a>