<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block titulo %}{% endblock %}</title>
    {#<link href="estilos.css" rel="stylesheet" type="text/css" />#}
</head>
<body>
{% block contenido %}{% endblock %}
</body>
</html>