
    <div class="flashbag-container">

        {% for tipo, mensajes in app.session.flashbag.all() %}
            {% for mensaje in mensajes %}
                <div class="alert alert-{{ tipo }}">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    {{ mensaje | raw }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>

