<footer>
    &copy; Txomin Medrano | <a href="#" data-toggle="modal" data-target="#aviso-legal">{{ 'footer.legal' | trans }}</a>

    <div class="modal fade" id="aviso-legal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{ 'modal.close' | trans }}</span></button>
                    <h4 class="modal-title">{{ 'modal.title' | trans }}</h4>
                </div>
                <img src="{{ asset('bundles/cursotxomin/img/julio-iglesias-meme.jpg') }}" id="julito"/>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Yeah!</button>
                   </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</footer>