<header>

    <nav class="navbar navbar-default  navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">{{ "header.shownavigation" | trans }}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Task Manager Txomin. Symfony</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'tasks.tasks' | trans }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ url('curso_txomin_tasks') }}">{{ "tasks.tasklist" | trans }}</a></li>
                            <li><a href="{{ url('curso_txomin_newtask') }}"><span class="glyphicon glyphicon-plus"></span> {{ "tasks.newtask" | trans }}</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ "users.users" | trans }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ url('curso_txomin_users') }}">{{ "users.userlist" | trans }}</a></li>
                            <li><a href="{{ url('curso_txomin_newuser') }}"><span class="glyphicon glyphicon-plus"></span> {{ "users.newuser" | trans }}</a></li>
                        </ul>
                    </li>
                </ul>

                <form class="navbar-form navbar-right" role="form">
                    <a type="submit" href="{{ url('logout') }}" class="btn btn-default"><span class="glyphicon glyphicon-log-out"></span> {{ "logout" | trans }}</a>
                </form>




                   <ul class="nav navbar-nav navbar-right">
                       <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ "language.language" | trans }}   <span class="caret"></span></a>
                           <ul class="dropdown-menu" role="menu">
                               <li {{ locale=='es'?'class="active"':'' }}><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'es'})) }}">ES</a></li>
                               <li  {{ locale=='ca'?'class="active"':'' }}><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'ca'})) }}">CA</a></li>
                               <li  {{ locale=='en'?'class="active"':'' }}><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}">EN</a></li>
                           </ul>
                       </li>

                   </ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>





</header>
