{% set locale = app.request.locale %}
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block titulo %}{% endblock %}</title>
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/dist/css/carousel.css" rel="stylesheet">
    <!--link href="{{ asset('bundles/cursotxomin/css/main.css') }}" rel="stylesheet" type="text/css" /-->

    {%  block stylesheets %}
    {%  stylesheets '@CursoTxominBundle/Resources/public/css/main.css'
        output='css/backend.css'  %}


    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {%  endstylesheets %}
    {%  endblock %}


</head>
<body>


{% include 'CursoTxominBundle:Default:_header.html.twig' %}

<div class="container" id="main">

    <div class="row ">
        <section class="col-md-9">
            {% block breadcrumb %}{% endblock %}

            {% include 'CursoTxominBundle:Default:_alerts.html.twig' %}

            <div id="progress">
                <div class="progress">
                    <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div id="loader"><span class="glyphicon glyphicon-refresh"></span></div>

                {% block contenido %}{% endblock %}


                <div class="panel-footer">
                    <div class="actions">{% block actions %}{% endblock %}</div>
                </div>
            </div>




        </section>
        <aside class="col-md-3">
            {% include 'CursoTxominBundle:Default:_aside.html.twig' %}
        </aside>
    </div>
    <hr/>
    {% include 'CursoTxominBundle:Default:_footer.html.twig' %}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script src="{{ asset('bundles/cursotxomin/js/bootbox.min.js') }}"></script>
<script src="{{ asset('bundles/cursotxomin/js/forms.js') }}"></script>
{% block myjs %}{% endblock %}

</body>
</html>