<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
        <strong>Resultado:</strong> {{ op1 }} {{ simbolo }} {{ op2 }} = {{ resultado }}
</body>
</html>
