{##Herencia de plantillas#}
{% extends 'CursoToDoBundle:ExampleBootstrap:layout.html.twig' %}
{% block custom_css %}
  <!-- Custom styles for this template -->
  <link type="text/css" rel="stylesheet" media="all" href="{{ asset('bundles/cursotodo/css/app.css') }}" />
{% endblock %}
{% block contenido %}

<div class="container basic">

  <!-- 2 columnas of text below the carousel -->
  <div class="row">
    <div class="col-sm-4  col-sm-push-8 menu-app">
      <h6>Menú</h6>
    </div>
    <div class="col-sm-8 col-sm-pull-4 container-app">
      <h6>Content</h6>
      <div class="row">
        <div class="col-md-offset-1 col-md-10 alerts-app">
          Zona de alertas
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          Para mostrar listados formularios,...
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </div>
  </div>
</div>
{% endblock %}