{##Herencia de plantillas#}
{% extends 'CursoToDoBundle:ExampleBootstrap:layout.html.twig' %}
{% block custom_css %}
    <!-- Custom styles for this template -->
    <link type="text/css" rel="stylesheet" media="all" href="{{ asset('bundles/cursotodo/css/app.css') }}" />
{% endblock %}
{% block contenido %}

    <div class="container basic">

        <!-- 2 columnas of text below the carousel -->
        <div class="row">
            <div class="col-sm-4 col-sm-push-8">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="glyphicon glyphicon-phone-alt"></i>&nbsp;Atención al usuario</h3>
                    </div>
                    <div class="panel-body">
                        <address>
                            <strong>Twitter, Inc.</strong><br>
                            795 Folsom Ave, Suite 600<br>
                            San Francisco, CA 94107<br>
                            <abbr title="Phone">P:</abbr> (123) 456-7890
                        </address>
                    </div>
                </div>
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="glyphicon glyphicon-pushpin"></i>&nbsp;Manuales</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled">
                            <li><a href=""><i class="glyphicon glyphicon-floppy-open"></i>&nbsp;Manual 1</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-floppy-open"></i>&nbsp;Manual 2</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-floppy-open"></i>&nbsp;Manual 3</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-floppy-open"></i>&nbsp;Manual 1</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-floppy-open"></i>&nbsp;Manual 2</a></li>
                            <li><a href=""><i class="glyphicon glyphicon-floppy-open"></i>&nbsp;Manual 3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 col-sm-pull-4 panel">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Library</a></li>
                            <li class="active">Data</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-10 alert alert-warning alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <strong>Hecho!</strong> Esto es un mensaje de aviso
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                      <form class="form-theme" action="php/send-mail.php">
                        <!-- Form Contact -->
                        <div class="row">
                          <div class="form-group">
                            <div class="col-md-12">
                              <label>Tu nombre *</label>
                              {{ form_widget(form.nombre, { 'attr': {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-md-12">
                              <label>Tus apellidos *</label>
                              {{ form_widget(form.user, { 'attr': {'class': 'form-control'}}) }}
                            </div>
                          </div>
                          <input>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <footer>
                    <p class="pull-right"><a href="#">Back to top</a></p>
                    <p>&copy; 2014 Company, Inc. &middot; <a href="#" data-toggle="modal" data-target="#myModal">Privacy &middot; Terms</a></p>
                </footer>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block init_js %}
    <script type="text/javascript">
        $('#example').tooltip();
        options = new Array();
        options['title']= 'Warning';
        options['trigger']= 'focus';
        options['content']= 'No introduzcas signos extraños';
        $('#input').popover(options);
    </script>
    </script>
{% endblock %}