<ol class="breadcrumb">
    {#
    <li><a href="">{{ app.request.get('_template').get('bundle') }}</a></li>
    <li><a href="">{{ app.request.get('_template').get('controller') }}</a></li>
    <li><a href="">{{ app.request.get('_template').get('name') }}</a></li>
    #}
</ol>