{##Herencia de plantillas#}
{% extends 'CursoDavidBundle:Task:layout.html.twig' %}

{% block contenido %}
<p>Hello {{ user }}</p>
<p>A new task was added to your task list</p>
<h1>{{ name }}</h1>
<p>To be done on {{ date }}</p>
<p><a href="">View task details</a></p>
{% endblock %}