{% extends 'CursoDavidBundle:Task:layout.html.twig' %}

{% block contenido %}
    <div class="container">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">{{ "Close" | trans }}</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <div class="col-md-8">
            <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>{{ "Task" | trans }}</th>
                        <th>{{ "Status" | trans }}</th>
                        <th>{{ "Due date" | trans }}</th>
                        <th>{{ "Actions" | trans }}</th>
                    </tr>
                </thead>
                <tbody></tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id  }} </td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.status }}</td>
                    <td>{{ "Due date" | trans }}: {{ task.date|date }}</td>
                    <td><a type="button" href="{{ url('david_task_view', {'id': task.id }) }}"
                           class="btn btn-primary" data-toggle="tooltip"
                           data-placement="top" title="{{ "Edit" | trans }}">
                            <span class="glyphicon glyphicon-edit"></span></a>
                        <a href="{{ url('david_task_del', {'id': task.id }) }}"
                           class="btn btn-danger" data-toggle="tooltip"
                           data-placement="top" title="{{ "Delete" | trans }}">
                            <span class="glyphicon glyphicon-remove-circle"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </table>
            </div>
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            {% include 'CursoDavidBundle:Task:tasknavigation.html.twig' %}
        </div>
    </div>
{% endblock %}