<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block titulo %}{% endblock %}</title>
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    {% block stylesheets %}
        {% stylesheets '@CursoDavidBundle/Resources/public/css/*' output='css/compiled/app.css'  %}
            <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
    {% block customjs %}
    {% endblock %}
    <link href="/dist/css/carousel.css" rel="stylesheet" type="text/css" />
</head>
<body>

{% set user = 'David' %}
{% include 'CursoDavidBundle:Task:navigation.html.twig' %}
{% include 'CursoDavidBundle:Task:breadcrumb.html.twig' %}
{% block contenido %}{% endblock %}
<nav class="footer navbar navbar-default">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <p class="text-muted center-block text-center"><a href="">{{ "Legal" | trans }}</a> | <a href="">{{ "Privacy" | trans }}</a> | <a href="">{{ "About us" | trans }}</a></p>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script type="application/javascript">
    $( document ).ready(function() {
        $('a').tooltip();
    });
</script>
</body>
</html>