<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url('tasks') }}">Task manager</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="">Usuarios</a></li>
                <li>
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">Tareas <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="">List tasks</a></li>
                        <li><a href="{{ url('task_new') }}">Add task</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href=""> {{ user }}</a></li>
            </ul>
        </div>
    </div>
</nav>