{##Herencia de plantillas#}
{% extends 'CursoDavidBundle:Task:layout.html.twig' %}

{% block customjs %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
{##
    <script>
        $(document).ready(function(){
            $('#miformulario').submit(function(event) {

                setTimeout(function(){
                    $('#miformulario :input').prop('disabled', false);
                    $('#form_save').html('Send');
                    $('.loading').hide();
                }, 80000);

                $('form :input').prop('disabled', true);
                $('#form_save').html('Sending');
                var response = $.get("{{ url('david_task_new_ajax') }}",
                        {   name:   $('#form_name').val(),
                            date:   $('#form_date').val(),
                            status: $('#form_status').val()
                        });
                $('.loading').show();
                event.preventDefault();
            });
        });
    </script>
#}
{% endblock %}
{% block contenido %}
{##        {{ form(form, {'attr': {'id': 'miformulario'}}) }}         #}
    {{ form_start(form, {'attr': {'id': 'miformulario'}}) }}
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.date) }}
        {{ form_row(form.status) }}
    {{ form_end(form) }}
    <img class="loading" src="http://cdn.sanwebe.com/wp-content/themes/sanwebe/img/social-load.gif" />
{% endblock %}