<div class="panel-group" id="accordion">
    {% for key, task in tasks %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ key }}">
                    {{ task.name }}
                </a>
            </h4>
        </div>
        <div id="collapse{{ key }}" class="panel-collapse collapse">
            <div class="panel-body">
                <p><b>{{ "Status" | trans }}:</b> {{ task.status }}</p>
                <p><b>{{ "Due date" | trans }}:</b> {{ task.date|date }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>