{##Herencia de plantillas#}
{% extends 'CursoDavidBundle:Task:layout.html.twig' %}

{% block contenido %}
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>{{ "Name" | trans }}</th>
                        <th>{{ "Status" | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td>{{ task.name }}</td>
                        <td>{{ task.status }}</td>
                    </tr>
                </tbody>
            </table>
            <a href="{{ path('tasks') }}">{{ "Back to index" | trans }}</a>
        </div>
    </div>
{% endblock %}