{##Herencia de layout#}
{% extends 'CursoahurtadoBundle:Tasks:layout.html.twig' %}

{% block contenido %}
    <br>
    Llistat de tasques:
    <br><br>
    <table class="table table-hover" border="2px">
        <tr><td bgcolor= "#D3D3D3" align="center">Id</td><td bgcolor= "#D3D3D3">Nombre </td><td bgcolor= "#D3D3D3">Descripcio</td><td bgcolor= "#D3D3D3" align="center">Id User</td><td bgcolor= "#D3D3D3" align="center">Enllaç</td></tr>
        {% for task in tasks %}
            <tr><td align="center">{{task.id}}</td><td>{{ task.getNombre()}} </td><td>{{ task.getDescripcio()}}</td><td align="center">{{ task.getUser().getId()}}</td><td><a href="{{ path('cursoahurtado_taskview', {'id': task.id}) }}"> view</a></td></tr>
        {% endfor %}
    </table>
    <br><br>
    <a href="{{path('cursoahurtado_newtask') }}">Nova Tasks...</a>
{% endblock %}