
{% extends 'FelipeBundle:Default:layout.html.twig' %}

{% set nombre = 'Detalle de Tareas' %}

{% block titulo %}{{ nombre }}{% endblock %}

{% block contenido %}
    <h1>{{ block('titulo') }}</h1>

    <table border=2>

<tr>
  
        <td> Tarea numero: <td> <center> {{ task.numero }} <tr> <td>  Prioridad de la tarea: <td> {{ task.prioridad }}  <tr> <td>  Descripcion de la tarea: <td>  {{ task.descripcion }} <tr> <td> Descripcion Larga de la tarea: <td>   {{ task.desclarga }}



</table>

<br><br>

    <a href="{{ url('example_template')}}">ejemplo link a template</a>

    <br>

    <a href="{{ url('example_routing_variable', {'slug': 1})}}">ejemplo link a template con parametros</a>

<br><br>

    <a href="{{ url('felipe_task')}}">Volver</a>



{% endblock %}