{##Herencia de plantillas#}
{% extends 'FelipeBundle:Default:layout.html.twig' %}

{% set nombre = 'Tareas' %}

{% block titulo %}{{ nombre }}{% endblock %}

{% block contenido %}
    <h1>{{ block('titulo') }}</h1>
    {#Reutilización horizontal#}
    
    <table border=1>
    <tr> <td> Numero <td> Prioridad <td> Descripcion <td> Ver
    {% for task in tasks %}
        <tr> <td> {{ task.numero }} <td>  {{ task.prioridad }}  <td>  {{ task.descripcion }} <td> <a href="{{ url('felipe_detalle_task', {'slug': loop.index})}}">Ver</a></li>
    {% endfor %}
</table>

<br><br>

    <a href="{{ url('example_template')}}">ejemplo link a template</a>

    <br>

    <a href="{{ url('example_routing_variable', {'slug': 1})}}">ejemplo link a template con parametros</a>

{% endblock %}
