{# Això és igual q el putu print_r() de php #}

{# {{ dump( aTaula ) }}  #}

<br>
<ul>
    {% for reg in aTaula %}
        <li>{{ reg.nom }} -> {{ reg.tasca }}    <a href="{{ url('curso_carles9000_task_view', {'id': loop.index, taula: aTaula} ) }}">Index[{{ loop.index }}]</a></li>
    {% endfor %}
</ul> 




