
Hola {{ name }} son les 10:50h.

{##Estructura de control for#}
<ul>
    {% for task in tasks %}
        <li><a href="{{ url('cursomonti_task_view', {'id': task.nombre})}}">
        	{{ loop.index }}: {{ task.nombre }}  --> {{task.estado}} 
        </a></li>
    {% endfor %}
</ul>