{# src/Curso/TxominBundle/Resources/views/Form/fields.html.twig #}
{% block form_row %}
    {% spaceless %}
        <div class="form-group">
            {{ form_label(form) }}
            <div class="col-sm-10">
                {{ form_widget(form) }}
                {{ form_errors(form) }}

            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}
