body {

    margin-top:50px;
}

#main{
    padding-top:10px;
}

form > div > div > label{

    display: inline-block;
    width: 120px;
}

form > div > div > div{
    display: inline-block;
}

form #curso_txominbundle_tasktype_tags {
    width:450px;
    padding:10px;
    border:1px solid #ddd;
}


.flashbag-container{

}

.actions{
  text-align: right;

}
.actions:empty{display:none;}
hr{
    margin-top:0px;
}

.a-right{text-align: right}

.panel{
    position:relative;
}
#loader{
    position:absolute;
    width:40px;
    height:40px;
    right:10px;
    top:10px;
    opacity:0;
    font-size:15pt;
    text-align: center;
    line-height: 40px;
}
.panel.loading{
    opacity:.5;
}
.panel.loading #loader{
    opacity:1;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


#progress{
    display:none;
    padding:0px 0px;
    margin-bottom:20px;
    height:8px;
    overflow:hidden;
}
.progress,.progress-bar{
    height:8px;
}

#progress.loading{
    display:block;
}