
<br><a href="{{ url('cursoahurtado_tasks')}}">cursoahurtado_tasks</a>

<br><a href="{{ url('curso_bastar_do_task')}}">curso_bastar_do_task</a>

<br><a href="{{ url('curso_carles9000_task')}}">curso_carles9000_task</a>

<br><a href="{{ url('tasks')}}">curso_david</a>

<br><a href="{{ url('felipe_task')}}">felipe_task</a>

<br><a href="{{ url('cursomonti_task')}}">cursomonti_task</a>

<br><a href="{{ url('curso_sori_tasks')}}">curso_sori_tasks</a>

<br><a href="{{ url('curso_txomin_tasks')}}">curso_txomin_tasks</a>

<br><a href="{{ url('curso_xavi_task')}}">curso_xavi_task</a>
