{##Herencia de plantillas#}
{% extends 'CursoBastarDoBundle:Default:layout.html.twig' %}


{##View users list #}
{#{% block titulo %}{{ title }}{% endblock %}#}
{% block titulo %}{{ "list.users" | trans }}{% endblock %}

{% block contenido %}

    <ul>
        {% for key, user in users %}
            <li>
                <a href="{{ path('curso_bastar_do_task_view', {'id': user.id}) }}"> {{ user.name }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="row">
        <div class="col-md-12">
        <a class="btn btn-lg btn-primary text-center " href="{{ path('curso_bastar_do_task_new') }}">New user</a>
        </div>
    </div>

{% endblock %}
