<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block titulo %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/dist/css/bootstrap.min.css" rel="stylesheet">

    {% stylesheets '@CursoBastarDoBundle/Resources/public/css/app.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {#<link href="{{ asset('bundles/cursobastardo/css/app.css') }}" type="text/css" rel="stylesheet" />#}
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block custom_css %}
    {% endblock %}

</head>
<body>

<div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">BastarDO</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown active">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Users <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('curso_bastar_do_task') }}">List</a></li>
                                <li><a href="{{ path('curso_bastar_do_task_new') }}">New</a></li>
                            </ul>
                        </li>
                        <li><a href="#about">Tasks</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container basic">

        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">{{ block('titulo') }}</h2>
            </div>
        </div>


        <div class="row">
            <div class="col-md-8">
            {% block contenido %}{% endblock %}
            </div>
            <div class="col-md-4">
                    {% for tipo, mensajes in app.session.flashbag.all() %}
                        <div class="alert alert-success alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        {% for mensaje in mensajes %}
                          {{ mensaje }}
                        {% endfor %}
                        </div>
                    {% endfor %}
            </div>
        </div>
        </div>
<br />
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <footer class="panel panel-default">
                <div class="panel-body">
                <p class="pull-right"><a href="#">Back to top</a></p>
                <p>&copy; 2014 Bastardo, Inc. &middot; <a href="#" data-toggle="modal" data-target="#myModal">Privacy &middot; Terms</a></p>
                </div>
            </footer>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $(".alert").alert();
</script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
{% block init_js %}
{% endblock %}

</body>
</html>