{##Herencia de plantillas#}
{% extends 'CursoBastarDoBundle:Default:layout.html.twig' %}

{##View users list #}
{% block titulo %}New User{% endblock %}

{% block contenido %}

    <div id="msg" class="alert alert-info">
    </div>

   {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}

    <div class="form-group">
    <div class="col-sm-10">
        {{ form_label(form.name, 'User', { 'label_attr': {'class': 'col-sm-2'} }) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name, { 'attr': {'class': 'col-sm-10'} }) }}
    </div>

    <div class="col-sm-10">
        {{ form_label(form.tasks, 'Tasks', { 'label_attr': {'class': 'col-sm-2'} }) }}
        {{ form_errors(form.tasks) }}
        {{ form_widget(form.tasks, { 'attr': {'class': 'col-sm-10'} }) }}
    </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
        {{ form_widget(form.save, { 'id' : 'pepebutton' }) }}
        </div>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block init_js %}
    <script type="text/javascript">
    $(document).ready(function(){
        $("#msg").css("display", "none");

        $(".form-horizontal").submit(function(e){

          /*  setTimeout(function(){
                //do what you need here
                $('#msg').addClass('alert-success');
                $('#msg').addClass('trans');
                $('#msg').removeClass('alert-info');
                $("#msg").html('La solicitidud se ha enviado');

                //$('#loader').hide();
                // $("#loader").css("display", "none");
            }, 3000);*/

            $('#msg').addClass('alert-info');
          //  $('#msg').removeClass('alert-success');
            $("#msg").css("display", "block");
            $('#msg').removeClass('alert-success');
            $('#msg').removeClass('alert-danger');
            $('#msg').html('Se está enviando el mensaje...' + '<img src="http://cdn.sanwebe.com/wp-content/themes/sanwebe/img/social-load.gif" />');
            e.preventDefault();



            var aj = $.get("{{ url('curso_bastar_do_ajax_new') }}",
                    { name: $('#form_name').val(), tasks: $('#form_tasks').val() });
            aj.error(function(response){
                $('#msg').addClass('alert-danger');
                $('#msg').removeClass('alert-info');
                $("#msg").html('Ha ocurrido un error: ' + response.responseText );
            });
            aj.success(function(response, status){
                $('#msg').addClass('alert-success');
                $('#msg').removeClass('alert-info');
                $("#msg").html('Usuario insertado correctamente.');

            });
            aj.complete(function(oa, status){
                return;
            });



        });
    });

    </script>
{% endblock %}