{##Herencia de plantillas#}
{% extends 'CursoBastarDoBundle:Default:layout.html.twig' %}

{##View tasks from user #}
{% block titulo %}Task List from: {{ username }}{% endblock %}

{% block contenido %}

{% if (tasks is defined) and (tasks is not empty) %}

    <table class="table table-bordered table-hover">

    {% for key, task in tasks %}
        <tr>
            <td>Task: {{ task.id }}</td>
            <td>Time: {{ task.time|date('Y-m-d') }}</td>
            <td>State: {{ task.state }}</td>
        </tr>
    {% endfor %}

    </table>
{% else %}
    <p>0 Tasks!!!</p>
{% endif %}

    <a class="btn btn-lg btn-primary" href="{{ path('curso_bastar_do_task') }}">Back</a>
{% endblock %}