{# src/Curso/TxominBundle/Resources/views/Security/login.html.twig #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Login</title>

    <link href="/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/cursotxomin/css/signin.css') }}" rel="stylesheet" type="text/css" />


</head>

<body>

<div class="container">



    <form class="form-signin" action="{{ path('login_check') }}" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}
        <h2 class="form-signin-heading">Introduce tus credenciales</h2>

        <input type="text" id="username" class="form-control" placeholder="Usuario" required autofocus name="_username" value="{{ last_username }}" />

        <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required />

        {#
            If you want to control the URL the user
            is redirected to on success (more details below)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>


</div> <!-- /container -->


</body>
</html>

