header{
    padding-top: 1em;
}

header div{

}

#message div .flash{
    border: dashed;
    border-color: #080808;
    border-width: thin;
    margin:1em;
    text-align: center;
}

#message div .flash-info{
    background-color: #cbcc2a;
}