<html>
<head>
    <title>Añadir y quitar clases CSS a elementos</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <style type="text/css">
        .disabled {
          background-color: #f7f7f7;
        }
        form {
          width: 300px;
          padding: 20px;
          background-color: #ff8800;
        }
    </style>
    <script>
        $(document).ready(function(){
            $("#send-message").submit(function(event){

                setTimeout(function(){
                    //do what you need here
                    $('#send-message').removeClass('disabled');
                    $("#send-message button").html('La solicitidud de ha enviado');
                    $('#send-message input').removeAttr('disabled');
                    $('#send-message textarea').removeAttr('disabled');
                    $('#loader').hide();
                    //$("#loader").css("display", "none");


                }, 3000);

                $('#send-message').addClass('disabled');
                $("#send-message button").html('Enviando...');
                $('#send-message input').attr('disabled', '');
                $('#send-message textarea').attr('disabled', '');
                //$('#loader').show();
                $("#loader").css("display", "inline");
                event.preventDefault();
            });
            $('#loader').hide();
           // $("#loader").css("display", "none");
        });
    </script>
</head>

<body>
  <div id="alert"></div>

  <form id="send-message">
    <input type="text"/>
    <br>
    <textarea></textarea>
    <br>
    <div>
      <button>Enviar</button>
      <img id="loader" src="http://cdn.sanwebe.com/wp-content/themes/sanwebe/img/social-load.gif" />
    </div>
  </form>

</body>
</html>