<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
    <title>Ajax Simple</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            function updateHour(){
                $('#loader').show();
                var aj = $.get("{{ url('ajax_example_3') }}",
                                { ciudad: $('#ciudad').val() });
                aj.error(function(){
                    $("#alert").html('Ha ocurrido un error');
                });
                aj.success(function(response, status){
                    for (i in response) {
                        $('table tbody').append('<tr id="' + i + '"></tr>');
                        if ($("#mydiv")){
                            $('#' + i).html("");
                            $('#' + i).append('<td>' + response[i]['ciudad'] +  '</td>');
                            $('#' + i).append('<td>' + response[i]['date']['hour'] +  '</td>');
                            $('#' + i).append('<td>' + response[i]['date']['minute'] +  '</td>');
                            $('#' + i).append('<td>' + response[i]['date']['second'] +  '</td>');
                        } else {
                            $('#' + i).append('<td>' + response[i]['ciudad'] +  '</td>');
                            $('#' + i).append('<td>' + response[i]['date']['hour'] +  '</td>');
                            $('#' + i).append('<td>' + response[i]['date']['minute'] +  '</td>');
                            $('#' + i).append('<td>' + response[i]['date']['second'] +  '</td>');
                        }
                    }
                    $('#loader').hide();
                });
                aj.complete(function(oa, status){


                });
            }
            setInterval(updateHour, 3000);

        })
    </script>
</head>

<body>
<div id="alert"></div>
Horarios
<img id="loader" src="http://cdn.sanwebe.com/wp-content/themes/sanwebe/img/social-load.gif" />
<table>
  <thead>
    <th>Ciudad</th>
    <th>Hora</th>
    <th>Minuto</th>
    <th>Segundo</th>
  </thead>
  <tbody>
  </tbody>

</table>

</body>
</html>
