<html>
<head>
    <title>Primer script con jQuery</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".cleaner").click(function(evento){
                $("form input").val('');
                //Este manejador bloquea la acción del enlace
                evento.preventDefault();
            });
            alert('Este código se ejecuta al cargar el DOM de la página');
        });
    </script>
</head>

<body>

  <a class="cleaner" href="http://jquery.com">Borrar datos del formulario </a>
  <br>
  <a href="http://jquery.com" target="_blank">Enlace normal</a>
  <br>
  <form>
    <input value="relleno">
    <input value="relleno">
  </form>


</body>
</html>