<html>
<head>
    <title>Primer script con jQuery</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>

    </script>
</head>

<body>

<div id="capa" style="padding: 10px; background-color: #ff8800">Haz clic en un botón</div>
<br>
<form>
    <input type="button" value="Botón A" onclick="$('#capa').html('Has hecho clic en el botón <b>A</b>')">
    <input type="button" value="Botón B" onclick="$('#capa').html('Recibido un clic en el botón <b>B</b>')">
</form>

</body>
</html>