<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jQuery desde Cero</title>

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <style>
        .playground {
        width: 100px;
        height: 100px;
        background-color: lightblue;
        padding: 10px;
        padding-top:40px;
        }
    </style>

</head>
<body>

  <div id="target" class="playground">
    Presiona los botones de abajo
  </div>

  <button id='growRight'>-></button>
  <button id='shrinkLeft'><-</button>
  <button id='growVertical'>V</button>
  <button id='shrinkVertical'>^</button>
  <button id='nestedGrow'>Anidadada -></button>
  <button id='nestedShrink'>Anidadada <-</button>
  <button id='stop'>Detener</button>

<script type="text/javascript">
    $('document').ready(function() {

        $('#growRight').click(function(env) {

            $('#target').animate({
                width: "300px"
            }, 1000, "linear");
        });

        $('#shrinkLeft').click(function(env) {

            $('#target').animate({
                width: "100px"
            }, 1000, "linear");
        });

        $('#growVertical').click(function(env) {

            $('#target').animate({
                height: "300px"
            }, 1000, "linear");
        });

        $('#shrinkVertical').click(function(env) {

            $('#target').animate({
                height: "100px"
            }, 1000, "swing");
        });

        $('#growVertical').click(function(env) {

            $('#target').animate({
                height: "300px"
            }, 1000, "swing");
        });

        $('#nestedGrow').click(function(env) {

            $('#target').animate({
                width: "300px"
            }, 1000, "swing", function() {

                $('#target').animate({
                    height: "300px"
                }, 1000, "linear");

            });
        });

        $('#nestedShrink').click(function(env) {

            $('#target').animate({
                height: "100px"
            }, 1000, "linear", function() {

                $('#target').animate({
                    width: "100px"
                }, 1000, "swing");

            });
        });

        $('#stop').click(function(env) {

            $('#target').stop();
        });



    });
</script>

</body>
</html>