<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
    <title>Ajax Simple</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#enlaceajax").click(function(event){
                event.preventDefault();
                $('#loader').show();
                var aj = $.get("{{ url('ajax_example_2') }}",
                                { ciudad: $('#ciudad').val() });
                aj.error(function(){
                    $("#alert").html('Ha ocurrido un error');
                });
                aj.success(function(response, status){
                    $("#container").html(response);

                });
                aj.complete(function(oa, status){
                    if(status == 'error') {
                        $("#container").html('--:--:--');
                    }
                    $('#loader').hide();

                });
            });
            $('#loader').hide();
        })
    </script>
</head>

<body>
<div id="alert"></div>
Qué hora es en
<select id="ciudad">
    <option value="tarragona">Tarragona</option>
    <option value="canarias">Canarias</option>
    <option value="marte">Marte</option>
</select>
<a href="#" id="enlaceajax">Consultar</a>

<br>
<br>
Hora: <span id="container">{{ hora }}</span>
<img id="loader" src="http://cdn.sanwebe.com/wp-content/themes/sanwebe/img/social-load.gif" />

</body>
</html>
