<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
    <title>Ajax Simple</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#enlaceajax").click(function(event){
                event.preventDefault();
                $("#container").load("{{ url('ajax_example_1') }}");
            });
        })
    </script>
</head>

<body>

<a href="#" id="enlaceajax">Actualizar Hora!</a>
<br>
<br>
Hora: <div id="container">{{ hora }}</div>



</body>
</html>
