<html>
<body>

<h1>{{ 'mail.title' | trans }}</h1>
<h2>{{ 'tasks.task' | trans }} #{{ task.id }}</h2>
<ul>
    <li>{{ 'tasks.id' | trans }}: {{ task.id }}</li>
    <li>{{ 'tasks.name' | trans }}: {{ task.nombre}}</li>
    <li>{{ 'tasks.date' | trans }}: {{ task.data  | date('d/m/Y') }}</li>
    <li>

        {{ 'tasks.tags' | trans }}:

        {% for tag in task.tags%}
            <span class="badge">{{ tag.nombre }}</span>
        {% endfor %}



    </li>
    <li>
        {{ 'users.user' | trans }}: {{ task.user.nombre }}
    </li>

</ul>
<hr/>
<a href="{{ url('curso_txomin_task', {'id': task.id })}}">{{ 'mail.gototask' | trans }} </a>

</body>
</html>